@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sen:wght@400;700;800&display=swap');

$titleFont: 'Sen', sans-serif;
$secondaryFont: 'Sedgwick Ave Display', cursive;
$black: #000000;
$yellow: #f6c82d;
$normal: 400;
$semibold: 700;
$bold: 800;

body {
  background: $yellow;
  margin: 0 auto;
}

html, body {width: auto!important; overflow-x: hidden!important}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  font: $titleFont;
  text-transform: uppercase;
  font-weight: $bold;
  color: $black;
  margin-bottom: 0;
}

h1 {
  font-size: 57px;
  width: 40%;
  line-height: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 70px;
  //margin: 0 0 30px 110px;
  //padding-top: 40px;
  margin-bottom: 0;
  letter-spacing: 14px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h3 {
  font-family: $secondaryFont;
  font-weight: $normal;
  font-size: 20px;
  letter-spacing: 3.33333px;
}

h4 {
  font-size: 24px;
  color: white;
}

h5 {
  font-family: $secondaryFont;
  font-size: 20px;
  color: white;
}

p {
  margin-bottom: 0;
  color: $yellow;
  font-size: 16px;
}

button {
  width: 264px;
  height: 42px;
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-radius: 500px;
  background-color: $yellow;
  color: $black;
  border: 2px solid $yellow;

  &:hover {
    background-color: transparent;
    color: $yellow;
    cursor: pointer;
  }

  &:focus {
    outline:0;
  }
}

.logo {
  filter: invert(1);
}

nav {
  li {
    font-family: $titleFont;
    color: $black;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 18px;
  }

  a {
    color: $black;

    &:hover {
      color: black;
      text-decoration: none;
      border-bottom: 2px solid $black;
    }
  }
}

#hero {
  height: 45vh;

  .hero-img {
    position: absolute;
    right: 240px;
    top: 120px;
  }

  .hero-title {
    margin: 300px 0 40px 90px;
  }

  .social-icons {
    position: relative;
    bottom: 240px;
    right: 30px;

    li {
      padding: 12px;
      transition: all 0.3s;
    }

    li:hover {
      cursor: pointer;
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }

  button {
    background-color: black;
    color: $yellow;
    border-color: $black;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: $black;
    }
  }
}

#releases {
  background: linear-gradient(to right, #404040 62%, #282828 0%);

  .album-image1 {
    object-fit: cover;
    width: 533px;
    height: 524px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
  }

  .album-image2 {
    width: 548px;
    height: 539px;
  }
}

#tours {
  background: $black;

  span {
    font-weight: $normal;
    font-size: 22px;
    color: white;
  }

  .tour-item {
    border-bottom: none;
    position: relative;
    padding-bottom: 20px;

    a {
      color: $yellow;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $yellow;
      }
    }
  }

  .tour-item:nth-child(1), .tour-item:nth-child(2) {

    &:after {
      content:"";
      background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

#store {

  .product-image {
    object-fit: cover;
    width: 397px;
    height: 397px;

    border-radius: 6px;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.5));
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      transition: all 0.3s;
    }
  }

  h2 {
    -webkit-text-stroke-color: $black;
  }

  h5 {
    color: $black;
    margin-top: 5px;
    font-weight: $normal;
    text-align: left;
  }

  p {
    color: $black;
    font-size: 26px;
    line-height: 25px;
    margin-top:20px;
    text-align: left;
  }

  button {
    background-color: black;
    color: $yellow;
    border-color: $black;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: $black;
    }
  }
}

#videos {
  background: #282828;
  height: 110vh;

  button {
    position: relative;
    z-index: 0;
  }

  p {
    font-size: 40px;
  }

  h5, p {
    color: white;
  }

  .control-btn {
    width: 19px;
    height: 23px;
    position: relative;
    z-index: 0;
    top: 420px;
    right: 25px;
    cursor: pointer;
    transition: all 0.3s;


    &:hover {
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }


  .video-info {
    position: relative;
    z-index: 0;
    top: 500px;
    left: 30px;
  }

  .vid-button {
    top: 445px;
  }
}

.cards-slider-wrapper {
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  .card {
    flex: 1;
    min-width: 850px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
    background-color: transparent;

    .vid-thumbnail {
      object-fit: cover;
      width: 809px;
      height: 455px;
    }
  }
}


#photos {
  background: $black;

  .gallery {
    object-fit: cover;
    width: 248px;
    height: 248px;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s;
    }
  }
}

#subscribe {
  background: #282828;

  .sub {
    width: 53%;
  }

  h3 {
    color: white;
  }

  h4 {
    color: $yellow;
    font-size: 16px;
  }

  .thankyou-message {
    font-size: 20px;
  }

  small {
    color: white;
    margin-left: 0px;
    font-family: $titleFont;
    font-size: 16px;
  }

  span {
    color: white;
  }

  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: transparent;
    height: 16px;
    width: 16px;
    border: 1px solid $yellow;
  }

  input[type="checkbox"]:checked {
    background: transparent;
  }

  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }

  input[type="checkbox"]:disabled {
    background: transparent;
    opacity: 0.6;
    pointer-events: none;
  }

  input[type="checkbox"]:after {
    content: "\2713";
    position: relative;
    bottom: 12px;
    left: 5px;
    border: solid $yellow;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
  }

  input:focus {
    border: 0;
    outline: 0;
    color: white;
    box-shadow: none !important;
    background: transparent;
    border-bottom: 1px solid #e43397;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }

  input[type="checkbox"]:disabled:after {
    border-color: $yellow;
  }

  #email, select {
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
    border-bottom: 1px solid $yellow;
    padding-left: 0px;
  }

  ::placeholder, select {
      color: $yellow;
      font-family: $titleFont;
      font-size: 20px;
      text-transform: uppercase;
  }
}

#footer {
  background: black;

  p {
    cursor: pointer;
    font-size: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  //height: 20vh;
  h2 {
    font-size: 30px;
    margin: 0 !important;
    text-align: center;
  }

  button {
    width: 224px;
    height: 42px;
    margin-right: 0 !important;
  }

  #nav {
    li {
      font-size: 6px;
    }

    .col.mr-4 {
      padding: 0 !important;
    }
  }

  .logo {
    width: 80px;
    height: 55px;
    margin-left: 0 !important;
  }

  #hero {
   height: 310px;

    .hero-img {
      left: 60px;
      top: 100px;
      width: 200px;
    }

    h1 {
      font-size: 30px;
      line-height: 30px;
      width: 100%;
    }

    h3 {
      font-size: 16px;
    }

    .hero-title {
      margin: 280px 0 0px 30px;
    }

    .social-icons {
      bottom: 300px;
      margin-left: 20px;
    }

    button {
      margin-top: 0px !important;
      margin-bottom: 300px;
    }
  }

  #releases {
    background: linear-gradient(to right, #404040 50%, #282828 0%);

    .album-image1 {
      object-fit: cover;
      width: 280px;
      height: 271px;
      filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
    }

    .album-container {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .album-image2 {
      width: 280px;
      height: 279px;
      margin-left: 0px;
      margin-top: 30px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #tours {
    .tour-right {
      margin-left: 0;
      padding-left: 0 !important;
      margin-top: 20px;
    }

    h4, span, h5, p {
      font-size: 18px;
    }

    h5 {
      margin-bottom: 10px;
    }

    .tour-item:nth-child(3) {

      &:after {
        content:"";
        background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #videos {
    height: 90vh;
    text-align: center;

    h2 {
      margin-top: 20px;
    }

    p {
      font-size: 18px;
    }

    h5 {
      font-size: 12px;
    }

    .col {
      margin: 0 !important;
    }

    .control-btn {
      width: 6px;
      height: 20px;
      top: 200px;
      right: 0px;
    }

    .video-info {
      top: 200px;
      left: 0px;
    }

    .vid-button {
      top: 255px;
      left: 10px;
    }
}

.cards-slider-wrapper {
  .card {
    .vid-thumbnail {
      object-fit: cover;
      width: 259px;
      height: 155px;
    }
  }
}

  #store {

    p, h5 {
      text-align: center;
    }

    .product-image {
      width: 247px;
      height: 247px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #photos {
    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #subscribe {
    h2 {
      margin-bottom: 40px !important;
      font-size: 25px;
      letter-spacing: 12px;
      text-align: center;
    }
    .sub {
      width: 80%;
    }

    h4 {
      font-size: 12px;
      text-align: center;
      line-height: 18px;
    }

    small {
      text-align: center;

    }

    .thankyou-message {
      text-align: center;
    }

    .check {
      margin-bottom: 10px;
    }

    select, input {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    select {
      margin-top: 20px;
    }
  }

  #footer {
    p {
      font-size: 12px;
      padding: 2px;
      text-align: center;
    }
  }
}


@media only screen and (min-width: 375px) and (max-width: 479px) {
  h2 {
    font-size: 40px;
    text-align: center;
  }

  button {
    width: 224px;
    height: 42px;
    margin-right: 0 !important;
  }

  .logo {
    width: 89px;
    height: 64px;
    margin-left: 0 !important;
  }

  #nav {
    li {
      font-size: 8px;
    }

    .col.mr-4 {
      padding: 0 !important;
      margin-left: 10px !important;
    }
  }

  #hero {
   height: 310px;

    .hero-img {
      left: 60px;
      top: 110px;
      width: 250px;
    }

    h1 {
      font-size: 30px;
      line-height: 30px;
      width: 70%;
    }

    h3 {
      font-size: 16px;
    }

    .hero-title {
      margin: 320px 0 0px 30px;
    }

    .social-icons {
      bottom: 280px;
    }

    button {
      margin-top: 0px !important;
    }
  }

  #releases {
    background: linear-gradient(to right, #404040 50%, #282828 0%);

    .album-image1 {
      object-fit: cover;
      width: 333px;
      height: 324px;
      filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
    }

    .album-container {
      //padding: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .album-image2 {
      width: 340px;
      height: 339px;
      margin-left: 5px;
      margin-top: 30px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #tours {
    .tour-right {
      margin-left: 0;
      padding-left: 0 !important;
      margin-top: 20px;
    }

    h4, span, h5, p {
      font-size: 18px;
    }

    h5 {
      margin-bottom: 10px;
    }

    .tour-item:nth-child(3) {

      &:after {
        content:"";
        background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #videos {
    height: 80vh;
    text-align: center;

    h2 {
      margin-top: 40px;
    }

    p {
      font-size: 18px;
    }

    h5 {
      font-size: 12px;
    }

    .col {
      margin: 0 !important;
    }

    .control-btn {
      width: 6px;
      height: 20px;
      top: 220px;
      right: 0px;
    }

    .video-info {
      top: 220px;
      left: 0px;
    }

    .vid-button {
      top: 255px;
      left: 10px;
    }
}

.cards-slider-wrapper {
  .card {
    .vid-thumbnail {
      object-fit: cover;
      width: 300px;
      height: 175px;
      margin-left: 10px;
    }
  }
}

  #store {
    .product-image {
      width: 247px;
      height: 247px;
    }

    h5, p {
      text-align: center;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #photos {
    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #subscribe {
    h2 {
      margin-bottom: 40px !important;
      font-size: 35px;
      letter-spacing: 12px;
    }
    .sub {
      width: 70%;
    }

    h4 {
      font-size: 12px;
      text-align: center;
      line-height: 18px;
    }

    .check {
      margin-bottom: 10px;
    }

    small {
      text-align: center;
    }

    .thankyou-message {
      text-align: center;
    }

    select, input {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    select {
      margin-top: 20px;
    }
  }

  #footer {
    p {
      font-size: 12px;
      padding: 2px;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {

  h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 0 !important;
  }

  button {
    width: 224px;
    height: 42px;
    margin-right: 0 !important;
  }

  .logo {
    width: 89px;
    height: 64px;
    margin-left: 0 !important;
  }

  #hero {
   height: 310px;

    .hero-img {
      left: 80px;
      top: 150px;
      width: 250px;
    }

    h1 {
      font-size: 30px;
      line-height: 30px;
      width: 70%;
    }

    h3 {
      font-size: 16px;
    }

    .hero-title {
      margin: 400px 0 0px 30px;
    }

    .social-icons {
      bottom: 370px;
    }

    button {
      margin-top: 0px !important;
    }
  }

  #releases {
    background: linear-gradient(to right, #404040 50%, #282828 0%);

    .album-image1 {
      object-fit: cover;
      width: 333px;
      height: 324px;
      filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
    }

    .album-container {
      //padding: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .album-image2 {
      width: 340px;
      height: 339px;
      margin-left: 5px;
      margin-top: 30px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #tours {
    .tour-right {
      margin-left: 0;
      padding-left: 0 !important;
    }

    h4, span, h5, p {
      font-size: 18px;
    }

    h5 {
      margin-bottom: 10px;
    }

    .tour-item:nth-child(3) {

      &:after {
        content:"";
        background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #videos {
    height: 70vh;
  }
  .cards-slider-wrapper {
    .card {
      .vid-thumbnail {
        margin-left: 30px;
      }
    }
  }

  #store {
    .product-image {
      width: 247px;
      height: 247px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #photos {
    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #subscribe {
    h2 {
      margin-bottom: 40px !important;
    }
    .sub {
      width: 80%;
    }

    h4 {
      font-size: 12px;
      text-align: center;
      line-height: 18px;
    }

    .check {
      margin-bottom: 10px;
    }

    select, input {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    select {
      margin-top: 20px;
    }
  }

  #footer {
    p {
      font-size: 12px;
      padding: 2px;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  h2 {
    margin-left: 0;
  }

  nav a {
    font-size: 14px;
  }

  .logo {
    width: 149px;
    height: 114px;
  }

  #hero {
    height: 30vh;

    .hero-img {
      left: 300px;
      top: 100px;
      width: 400px;
    }

    h1 {
      font-size: 40px;
      line-height: 40px;
      width: 70%;
    }

    .hero-title {
      margin: 380px 0 40px 50px;
    }

    .social-icons {
      bottom: 380px;
    }

    button {
      margin-top: 10px;
    }
  }

  #releases {
    background: linear-gradient(to right, #404040 65%, #282828 0%);

    .album-image1 {
      object-fit: cover;
      width: 433px;
      height: 424px;
      filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
    }

    .album-image2 {
      width: 448px;
      height: 439px;
      margin-top: 30px;
    }

    .album-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #tours {
    .tour-right {
      margin-left: 0;
      padding-left: 0 !important;
    }

    .tour-item:nth-child(3) {

      &:after {
        content:"";
        background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #videos {
     .control-btn {
      left: 300px;
    }

    .video-info {
      left: 30px;
    }

    .vid-button {
      top: 600px;
      left: 10px;
    }
  }

  #subscribe {
    h2 {
      margin-bottom: 40px !important;
    }

    .sub {
      width: 80%;
    }

    h4 {
      font-size: 14px;
      //margin-bottom:10px;
    }

    form {
      margin-left: 60px;
    }

    .check {
      margin-bottom: 10px;
    }

    button.mr-4 {
      margin-right: 0 !important;
    }
  }

  #store {
    button.mr-4 {
      margin-right: 0 !important;
    }

    h5, p {
      text-align: center;
    }
  }

  #footer {
    p {
      font-size: 12px;
      padding: 2px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  h2 {
    margin-left: 0 !important;
  }

  button {
    width: 224px;
    height: 42px;
    margin-right: 0 !important;
  }

  .logo {
    width: 149px;
    height: 114px;
  }

  #hero {
   height: 25vh;

    .hero-img {
      left: 400px;
      top: 150px;
      width: 450px;
    }

    h1 {
      font-size: 50px;
      line-height: 50px;
      width: 60%;
    }

    h3 {
      font-size: 16px;
    }

    .hero-title {
      margin: 500px 0 0px 60px;
    }

    .social-icons {
      bottom: 370px;
    }

    button {
      margin-top: 0px !important;
    }
  }

  #releases {
    background: linear-gradient(to right, #404040 65%, #282828 0%);

    .album-image1 {
      object-fit: cover;
      width: 330px;
      height: 321px;
      padding-left: 0;
      margin-right: 30px;
    }

    .album-container {
      padding: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .album-image2 {
      width: 333px;
      height: 324px;
      margin-left: 40px;
      margin-right: 0;
      margin-top: 0;
    }
  }

  #tours {
    .tour-right {
      margin-left: 0;
      padding-left: 0 !important;
    }

    h4, span, h5, p {
      font-size: 16px;
    }

    h5 {
      margin-bottom: 10px;
    }
  }

  #videos {
    height: 75vh;

     .control-btn {
      left: 270px;
    }

    .video-info {
      left: 30px;
    }

    .vid-button {
      top: 600px;
      left: 10px;
    }
  }

  #store {
    .product-image {
      width: 247px;
      height: 247px;
    }

    h5, p {
      text-align: left;
    }

    h5 {
      font-size: 20px;
    }
  }

  #photos {
    button.mr-4 {
      margin-right: 0 !important;
    }

    .gallery {
      object-fit: cover;
      width: 180px;
      height: 180px;
      transition: all 0.3s;
    }

  }

  #subscribe {
    h2 {
      margin-bottom: 40px !important;
      //margin-left: 50px !important;
    }
    .sub {
      width: 80%;
      margin-left: 70px;
    }

    h4 {
      font-size: 12px;

      line-height: 18px;
    }

    .check {
      margin-bottom: 10px;
    }

    select, input {
      margin-left: 15px !important;
      margin-right: 5px !important;
    }

    button {
      margin-left: 5px;
      margin-top: 40px !important;
    }

    select {
      margin-top: 20px;
    }
  }

  #footer {
    p {
      font-size: 10px;
      padding: 2px;
      text-align: center;
    }
  }
}

