@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sen:wght@400;700;800&display=swap');

$titleFont: 'Sen', sans-serif;
$secondaryFont: 'Sedgwick Ave Display', cursive;
$black: #000000;
$yellow: #f6c82d;
$normal: 400;
$semibold: 700;
$bold: 800;

body {
  background: $yellow;
  margin: 0;
}

ul {
  list-style: none;
}

h1 {
  font-family: $titleFont;
  font-size: 57px;
  font-weight: $bold;
  text-transform: uppercase;
  width: 40%;
  line-height: 50px;
  color: $black;
  margin-bottom: 10px;
}

h2 {
  font-family: $titleFont;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: $bold;
  margin: 0 0 30px 110px;
  padding-top: 40px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  letter-spacing: 14px;
}

h3 {
  font-family: $secondaryFont;
  font-weight: $normal;
  color: $black;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3.33333px;
}

h4 {
  font-family: $titleFont;
  font-weight: $bold;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}

h5 {
  font-family: $secondaryFont;
  font-size: 20px;
  color: white;
}

p {
  margin-bottom: 0;
  color: $yellow;
  font-family: $titleFont;
  font-size: 16px;
  font-weight: $bold;
  text-transform: uppercase;
}

button {
  width: 264px;
  height: 42px;
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-radius: 500px;
  background-color: $yellow;
  color: $black;
  border: 1px solid $yellow;

  &:hover {
    background-color: transparent;
    color: $yellow;
    cursor: pointer;
  }
}

.logo {
  filter: invert(1);
}

nav {
  li {
    font-family: $titleFont;
    color: $black;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 18px;
  }

  a {
    color: $black;

    &:hover {
      color: black;
      text-decoration: none;
      border-bottom: 2px solid $black;
    }
  }
}

#hero {
  .hero-img {
    position: absolute;
    right: 240px;
    top: 120px;
  }

  .hero-title {
    margin: 300px 0 40px 90px;
  }

  .social-icons {
    position: relative;
    bottom: 240px;
    right: 30px;

    li {
      padding: 12px;
      transition: all 0.3s;
    }

    li:hover {
      cursor: pointer;
      transform: scale(1.5);
      transition: all 0.3s;
    }
  }

  button {
    background-color: black;
    color: $yellow;
    border-color: $black;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: $black;
    }
  }
}

#releases {
  background: linear-gradient(to right, #404040 62%, #282828 0%);
  height: 840px;

  .album-image1 {
    object-fit: cover;
    width: 548px;
    height: 539px;
    margin-right: 10px;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
  }

  .album-image2 {
    margin-left: 10px;
  }

  button {
    margin: 30px 130px 30px 0;
  }
}

#tours {
  background: $black;
  height: 770px;

  .tour-left {
    margin-left: 90px;
  }

  .tour-right {
    margin-right: 150px;
  }

  span {
    font-weight: $normal;
    font-size: 22px;
    color: white;
  }

  .tour-item {
    border-bottom: none;
    position: relative;
    padding-bottom: 20px;
  }

  .tour-item:after {
    content:"";
    background: -webkit-linear-gradient(left, rgba(246, 200, 42, 0.2) 0%, rgba(246, 200, 42, 0.4) 49.33%, rgba(246, 200, 42, 0.2) 100%);
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  button {
    margin: 50px 130px 30px 0;
  }
}

#store {
  height: 800px;

  .store-img {
    border-radius: 6px;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.5));
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      transition: all 0.3s;
    }
  }

  .product-image {
    object-fit: cover;
    width: 397px;
    height: 397px;
  }

  h2 {
    -webkit-text-stroke-color: $black;
  }

  h5 {
    color: $black;
    margin-top: 5px;
    font-weight: $normal;
  }

  p {
    color: $black;
    font-size: 26px;
    width: 90%;
    line-height: 25px;
    margin-top:20px;
  }

  button {
    background-color: black;
    color: $yellow;
    border-color: $black;
    margin: 40px 130px 0px 0;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: $black;
    }
  }
}

#photos {
  background: $black;
  height: 900px;

  .gallery {
    margin: 6px;
  }

  button {
    margin: 60px 130px 30px 0;
  }
}

#videos {
  background: #282828;
  height: 800px;
}
